# Build artifacts
dist
build
*.tsbuildinfo

# Tests
tests
**/*.test.ts
**/*.spec.ts
coverage
.nyc_output

# Dev configs
.env
.env.*
.eslintrc*
.git
.gitignore
.github
.vscode
.idea
*.md
docs
infrastructure
scripts

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Local Docker
Dockerfile
.dockerignore
